{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}Listes des utilisateurs{% endblock %}

{% block main %}
<div class="container">
    {{ dump(users) }}
    <div class="row">
        <div class="col-12">
            <h1>Liste des utilisateurs</h1>

            <table id="example" class="table table-hover responsive nowrap" style="width:100%">
                <div class="d-flex justify-content-end">
                    <a class="btn btn-success mb-3 new-item" href="#">{{ ux_icon('fa6-solid:user-pen') }}<span class="ms-2"> Nouveau profil</span></a>
                </div>

                <thead>
                    <tr>
                        <th class="identity">Identité (Prénom Nom)</th>
                        <th>Email</th>
                        <th>Rôle</th>
                        <th>Dernière connexion</th>
                        <th>Created At</th>
                        <th>Access Site</th>
                        <th>Update At</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>    
                        <td>
                            <a href="#">
                                <div class="d-flex align-items-center">
                                    <div class="avatar avatar-blue mr-3">AA</div>
                                    <div class="info">
                                        <p class="fw-bold mb-0">Admin Administrateur</p>
                                    </div>
                                </div>
                            </a>
                        </td>
                        <td>
                            admin@example.com
                        </td>
                        <td>
                            <div class="role badge bg-danger bg-danger-alt">Administrator</div>
                        </td>
                        <td>23/11/2023</td>
                        <td>09/04/1996</td>
                        <td>
                            <div class="badge bg-success bg-success-alt">actif</div>
                        </td>
                        <td>
                            <div class="badge bg-info bg-info-alt">-</div>
                        </td>
                        <td>
                            <div class="dropdown">
                            <button class="btn btn-sm btn-icon"  type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ ux_icon('fa6-solid:ellipsis', {'data-bs-toggle' : 'tooltip', 'data-placement' : 'top', 'title' : 'Actions'}) }}
                            </button>
                            <ul class="dropdown-menu"  >
                                <li><a class="dropdown-item" href="#">{{ ux_icon('fa6-solid:pencil', {'class': 'me-2'}) }} Edit Profile</a></li>
                                <li><a class="dropdown-item text-warning" href="#">{{ ux_icon('fa6-solid:circle-xmark', {'class': 'me-2'}) }} Desactivate</a></li>
                                <li><a class="dropdown-item text-success" href="#">{{ ux_icon('fa6-solid:circle-check', {'class': 'me-2'}) }} Activate</a></li>
                                <li><a class="dropdown-item text-danger" href="#">{{ ux_icon('fa6-solid:trash-can', {'class': 'me-2'}) }} Remove</a></li>
                            </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>    
                        <td>
                            <a href="#">
                                <div class="d-flex align-items-center">
                                    <div class="avatar avatar-blue mr-3">AA</div>
                                    <div class="info">
                                        <p class="fw-bold mb-0">Admin Administrateur</p>
                                    </div>
                                </div>
                            </a>
                        </td>
                        <td>
                            admin@example.com
                        </td>
                        <td>
                            <div class="role badge bg-danger bg-danger-alt">Administrator</div>
                        </td>
                        <td>23/11/2023</td>
                        <td>09/04/1996</td>
                        <td>
                            <div class="badge bg-success bg-success-alt">actif</div>
                        </td>
                        <td>
                            <div class="badge bg-info bg-info-alt">-</div>
                        </td>
                        <td>
                            <div class="dropdown">
                            <button class="btn btn-sm btn-icon"  type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ ux_icon('fa6-solid:ellipsis', {'data-bs-toggle' : 'tooltip', 'data-placement' : 'top', 'title' : 'Actions'}) }}
                            </button>
                            <ul class="dropdown-menu"  >
                                <li><a class="dropdown-item" href="#">{{ ux_icon('fa6-solid:pencil', {'class': 'me-2'}) }} Edit Profile</a></li>
                                <li><a class="dropdown-item text-warning" href="#">{{ ux_icon('fa6-solid:circle-xmark', {'class': 'me-2'}) }} Desactivate</a></li>
                                <li><a class="dropdown-item text-success" href="#">{{ ux_icon('fa6-solid:circle-check', {'class': 'me-2'}) }} Activate</a></li>
                                <li><a class="dropdown-item text-danger" href="#">{{ ux_icon('fa6-solid:trash-can', {'class': 'me-2'}) }} Remove</a></li>
                            </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>    
                        <td>
                            <a href="#">
                                <div class="d-flex align-items-center">
                                    <div class="avatar avatar-blue mr-3">AA</div>
                                    <div class="info">
                                        <p class="fw-bold mb-0">Admin Administrateur</p>
                                    </div>
                                </div>
                            </a>
                        </td>
                        <td>
                            admin@example.com
                        </td>
                        <td>
                            <div class="role badge bg-danger bg-danger-alt">Administrator</div>
                        </td>
                        <td>23/11/2023</td>
                        <td>09/04/1996</td>
                        <td>
                            <div class="badge bg-success bg-success-alt">actif</div>
                        </td>
                        <td>
                            <div class="badge bg-info bg-info-alt">-</div>
                        </td>
                        <td>
                            <div class="dropdown">
                            <button class="btn btn-sm btn-icon"  type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ ux_icon('fa6-solid:ellipsis', {'data-bs-toggle' : 'tooltip', 'data-placement' : 'top', 'title' : 'Actions'}) }}
                            </button>
                            <ul class="dropdown-menu"  >
                                <li><a class="dropdown-item" href="#">{{ ux_icon('fa6-solid:pencil', {'class': 'me-2'}) }} Edit Profile</a></li>
                                <li><a class="dropdown-item text-warning" href="#">{{ ux_icon('fa6-solid:circle-xmark', {'class': 'me-2'}) }} Desactivate</a></li>
                                <li><a class="dropdown-item text-success" href="#">{{ ux_icon('fa6-solid:circle-check', {'class': 'me-2'}) }} Activate</a></li>
                                <li><a class="dropdown-item text-danger" href="#">{{ ux_icon('fa6-solid:trash-can', {'class': 'me-2'}) }} Remove</a></li>
                            </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>    
                        <td>
                            <a href="#">
                                <div class="d-flex align-items-center">
                                    <div class="avatar avatar-blue mr-3">AA</div>
                                    <div class="info">
                                        <p class="fw-bold mb-0">Admin Administrateur</p>
                                    </div>
                                </div>
                            </a>
                        </td>
                        <td>
                            admin@example.com
                        </td>
                        <td>
                            <div class="role badge bg-danger bg-danger-alt">Administrator</div>
                        </td>
                        <td>23/11/2023</td>
                        <td>09/04/1996</td>
                        <td>
                            <div class="badge bg-success bg-success-alt">actif</div>
                        </td>
                        <td>
                            <div class="badge bg-info bg-info-alt">-</div>
                        </td>
                        <td>
                            <div class="dropdown">
                            <button class="btn btn-sm btn-icon"  type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ ux_icon('fa6-solid:ellipsis', {'data-bs-toggle' : 'tooltip', 'data-placement' : 'top', 'title' : 'Actions'}) }}
                            </button>
                            <ul class="dropdown-menu"  >
                                <li><a class="dropdown-item" href="#">{{ ux_icon('fa6-solid:pencil', {'class': 'me-2'}) }} Edit Profile</a></li>
                                <li><a class="dropdown-item text-warning" href="#">{{ ux_icon('fa6-solid:circle-xmark', {'class': 'me-2'}) }} Desactivate</a></li>
                                <li><a class="dropdown-item text-success" href="#">{{ ux_icon('fa6-solid:circle-check', {'class': 'me-2'}) }} Activate</a></li>
                                <li><a class="dropdown-item text-danger" href="#">{{ ux_icon('fa6-solid:trash-can', {'class': 'me-2'}) }} Remove</a></li>
                            </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>    
                        <td>
                            <a href="#">
                                <div class="d-flex align-items-center">
                                    <div class="avatar avatar-blue mr-3">AA</div>
                                    <div class="info">
                                        <p class="fw-bold mb-0">Admin Administrateur</p>
                                    </div>
                                </div>
                            </a>
                        </td>
                        <td>
                            admin@example.com
                        </td>
                        <td>
                            <div class="role badge bg-danger bg-danger-alt">Administrator</div>
                        </td>
                        <td>23/11/2023</td>
                        <td>09/04/1996</td>
                        <td>
                            <div class="badge bg-success bg-success-alt">actif</div>
                        </td>
                        <td>
                            <div class="badge bg-info bg-info-alt">-</div>
                        </td>
                        <td>
                            <div class="dropdown">
                            <button class="btn btn-sm btn-icon"  type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ ux_icon('fa6-solid:ellipsis', {'data-bs-toggle' : 'tooltip', 'data-placement' : 'top', 'title' : 'Actions'}) }}
                            </button>
                            <ul class="dropdown-menu"  >
                                <li><a class="dropdown-item" href="#">{{ ux_icon('fa6-solid:pencil', {'class': 'me-2'}) }} Edit Profile</a></li>
                                <li><a class="dropdown-item text-warning" href="#">{{ ux_icon('fa6-solid:circle-xmark', {'class': 'me-2'}) }} Desactivate</a></li>
                                <li><a class="dropdown-item text-success" href="#">{{ ux_icon('fa6-solid:circle-check', {'class': 'me-2'}) }} Activate</a></li>
                                <li><a class="dropdown-item text-danger" href="#">{{ ux_icon('fa6-solid:trash-can', {'class': 'me-2'}) }} Remove</a></li>
                            </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>    
                        <td>
                            <a href="#">
                                <div class="d-flex align-items-center">
                                    <div class="avatar avatar-blue mr-3">AA</div>
                                    <div class="info">
                                        <p class="fw-bold mb-0">Admin Administrateur</p>
                                    </div>
                                </div>
                            </a>
                        </td>
                        <td>
                            admin@example.com
                        </td>
                        <td>
                            <div class="role badge bg-danger bg-danger-alt">Administrator</div>
                        </td>
                        <td>23/11/2023</td>
                        <td>09/04/1996</td>
                        <td>
                            <div class="badge bg-success bg-success-alt">actif</div>
                        </td>
                        <td>
                            <div class="badge bg-info bg-info-alt">-</div>
                        </td>
                        <td>
                            <div class="dropdown">
                            <button class="btn btn-sm btn-icon"  type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ ux_icon('fa6-solid:ellipsis', {'data-bs-toggle' : 'tooltip', 'data-placement' : 'top', 'title' : 'Actions'}) }}
                            </button>
                            <ul class="dropdown-menu"  >
                                <li><a class="dropdown-item" href="#">{{ ux_icon('fa6-solid:pencil', {'class': 'me-2'}) }} Edit Profile</a></li>
                                <li><a class="dropdown-item text-warning" href="#">{{ ux_icon('fa6-solid:circle-xmark', {'class': 'me-2'}) }} Desactivate</a></li>
                                <li><a class="dropdown-item text-success" href="#">{{ ux_icon('fa6-solid:circle-check', {'class': 'me-2'}) }} Activate</a></li>
                                <li><a class="dropdown-item text-danger" href="#">{{ ux_icon('fa6-solid:trash-can', {'class': 'me-2'}) }} Remove</a></li>
                            </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>    
                        <td>
                            <a href="#">
                                <div class="d-flex align-items-center">
                                    <div class="avatar avatar-blue mr-3">AA</div>
                                    <div class="info">
                                        <p class="fw-bold mb-0">Admin Administrateur</p>
                                    </div>
                                </div>
                            </a>
                        </td>
                        <td>
                            admin@example.com
                        </td>
                        <td>
                            <div class="role badge bg-danger bg-danger-alt">Administrator</div>
                        </td>
                        <td>23/11/2023</td>
                        <td>09/04/1996</td>
                        <td>
                            <div class="badge bg-success bg-success-alt">actif</div>
                        </td>
                        <td>
                            <div class="badge bg-info bg-info-alt">-</div>
                        </td>
                        <td>
                            <div class="dropdown">
                            <button class="btn btn-sm btn-icon"  type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ ux_icon('fa6-solid:ellipsis', {'data-bs-toggle' : 'tooltip', 'data-placement' : 'top', 'title' : 'Actions'}) }}
                            </button>
                            <ul class="dropdown-menu"  >
                                <li><a class="dropdown-item" href="#">{{ ux_icon('fa6-solid:pencil', {'class': 'me-2'}) }} Edit Profile</a></li>
                                <li><a class="dropdown-item text-warning" href="#">{{ ux_icon('fa6-solid:circle-xmark', {'class': 'me-2'}) }} Desactivate</a></li>
                                <li><a class="dropdown-item text-success" href="#">{{ ux_icon('fa6-solid:circle-check', {'class': 'me-2'}) }} Activate</a></li>
                                <li><a class="dropdown-item text-danger" href="#">{{ ux_icon('fa6-solid:trash-can', {'class': 'me-2'}) }} Remove</a></li>
                            </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>    
                        <td>
                            <a href="#">
                                <div class="d-flex align-items-center">
                                    <div class="avatar avatar-blue mr-3">AA</div>
                                    <div class="info">
                                        <p class="fw-bold mb-0">Admin Administrateur</p>
                                    </div>
                                </div>
                            </a>
                        </td>
                        <td>
                            admin@example.com
                        </td>
                        <td>
                            <div class="role badge bg-danger bg-danger-alt">Administrator</div>
                        </td>
                        <td>23/11/2023</td>
                        <td>09/04/1996</td>
                        <td>
                            <div class="badge bg-success bg-success-alt">actif</div>
                        </td>
                        <td>
                            <div class="badge bg-info bg-info-alt">-</div>
                        </td>
                        <td>
                            <div class="dropdown">
                            <button class="btn btn-sm btn-icon"  type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ ux_icon('fa6-solid:ellipsis', {'data-bs-toggle' : 'tooltip', 'data-placement' : 'top', 'title' : 'Actions'}) }}
                            </button>
                            <ul class="dropdown-menu"  >
                                <li><a class="dropdown-item" href="#">{{ ux_icon('fa6-solid:pencil', {'class': 'me-2'}) }} Edit Profile</a></li>
                                <li><a class="dropdown-item text-warning" href="#">{{ ux_icon('fa6-solid:circle-xmark', {'class': 'me-2'}) }} Desactivate</a></li>
                                <li><a class="dropdown-item text-success" href="#">{{ ux_icon('fa6-solid:circle-check', {'class': 'me-2'}) }} Activate</a></li>
                                <li><a class="dropdown-item text-danger" href="#">{{ ux_icon('fa6-solid:trash-can', {'class': 'me-2'}) }} Remove</a></li>
                            </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>    
                        <td>
                            <a href="#">
                                <div class="d-flex align-items-center">
                                    <div class="avatar avatar-blue mr-3">AA</div>
                                    <div class="info">
                                        <p class="fw-bold mb-0">Admin Administrateur</p>
                                    </div>
                                </div>
                            </a>
                        </td>
                        <td>
                            admin@example.com
                        </td>
                        <td>
                            <div class="role badge bg-danger bg-danger-alt">Administrator</div>
                        </td>
                        <td>23/11/2023</td>
                        <td>09/04/1996</td>
                        <td>
                            <div class="badge bg-success bg-success-alt">actif</div>
                        </td>
                        <td>
                            <div class="badge bg-info bg-info-alt">-</div>
                        </td>
                        <td>
                            <div class="dropdown">
                            <button class="btn btn-sm btn-icon"  type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ ux_icon('fa6-solid:ellipsis', {'data-bs-toggle' : 'tooltip', 'data-placement' : 'top', 'title' : 'Actions'}) }}
                            </button>
                            <ul class="dropdown-menu"  >
                                <li><a class="dropdown-item" href="#">{{ ux_icon('fa6-solid:pencil', {'class': 'me-2'}) }} Edit Profile</a></li>
                                <li><a class="dropdown-item text-warning" href="#">{{ ux_icon('fa6-solid:circle-xmark', {'class': 'me-2'}) }} Desactivate</a></li>
                                <li><a class="dropdown-item text-success" href="#">{{ ux_icon('fa6-solid:circle-check', {'class': 'me-2'}) }} Activate</a></li>
                                <li><a class="dropdown-item text-danger" href="#">{{ ux_icon('fa6-solid:trash-can', {'class': 'me-2'}) }} Remove</a></li>
                            </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>    
                        <td>
                            <a href="#">
                                <div class="d-flex align-items-center">
                                    <div class="avatar avatar-blue mr-3">AA</div>
                                    <div class="info">
                                        <p class="fw-bold mb-0">Admin Administrateur</p>
                                    </div>
                                </div>
                            </a>
                        </td>
                        <td>
                            admin@example.com
                        </td>
                        <td>
                            <div class="role badge bg-danger bg-danger-alt">Administrator</div>
                        </td>
                        <td>23/11/2023</td>
                        <td>09/04/1996</td>
                        <td>
                            <div class="badge bg-success bg-success-alt">actif</div>
                        </td>
                        <td>
                            <div class="badge bg-info bg-info-alt">-</div>
                        </td>
                        <td>
                            <div class="dropdown">
                            <button class="btn btn-sm btn-icon"  type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ ux_icon('fa6-solid:ellipsis', {'data-bs-toggle' : 'tooltip', 'data-placement' : 'top', 'title' : 'Actions'}) }}
                            </button>
                            <ul class="dropdown-menu"  >
                                <li><a class="dropdown-item" href="#">{{ ux_icon('fa6-solid:pencil', {'class': 'me-2'}) }} Edit Profile</a></li>
                                <li><a class="dropdown-item text-warning" href="#">{{ ux_icon('fa6-solid:circle-xmark', {'class': 'me-2'}) }} Desactivate</a></li>
                                <li><a class="dropdown-item text-success" href="#">{{ ux_icon('fa6-solid:circle-check', {'class': 'me-2'}) }} Activate</a></li>
                                <li><a class="dropdown-item text-danger" href="#">{{ ux_icon('fa6-solid:trash-can', {'class': 'me-2'}) }} Remove</a></li>
                            </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>    
                        <td>
                            <a href="#">
                                <div class="d-flex align-items-center">
                                    <div class="avatar avatar-blue mr-3">AA</div>
                                    <div class="info">
                                        <p class="fw-bold mb-0">Admin Administrateur</p>
                                    </div>
                                </div>
                            </a>
                        </td>
                        <td>
                            admin@example.com
                        </td>
                        <td>
                            <div class="role badge bg-danger bg-danger-alt">Administrator</div>
                        </td>
                        <td>23/11/2023</td>
                        <td>09/04/1996</td>
                        <td>
                            <div class="badge bg-success bg-success-alt">actif</div>
                        </td>
                        <td>
                            <div class="badge bg-info bg-info-alt">-</div>
                        </td>
                        <td>
                            <div class="dropdown">
                            <button class="btn btn-sm btn-icon"  type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ ux_icon('fa6-solid:ellipsis', {'data-bs-toggle' : 'tooltip', 'data-placement' : 'top', 'title' : 'Actions'}) }}
                            </button>
                            <ul class="dropdown-menu"  >
                                <li><a class="dropdown-item" href="#">{{ ux_icon('fa6-solid:pencil', {'class': 'me-2'}) }} Edit Profile</a></li>
                                <li><a class="dropdown-item text-warning" href="#">{{ ux_icon('fa6-solid:circle-xmark', {'class': 'me-2'}) }} Desactivate</a></li>
                                <li><a class="dropdown-item text-success" href="#">{{ ux_icon('fa6-solid:circle-check', {'class': 'me-2'}) }} Activate</a></li>
                                <li><a class="dropdown-item text-danger" href="#">{{ ux_icon('fa6-solid:trash-can', {'class': 'me-2'}) }} Remove</a></li>
                            </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>    
                        <td>
                            <a href="#">
                                <div class="d-flex align-items-center">
                                    <div class="avatar avatar-blue mr-3">AA</div>
                                    <div class="info">
                                        <p class="fw-bold mb-0">Admin Administrateur</p>
                                    </div>
                                </div>
                            </a>
                        </td>
                        <td>
                            admin@example.com
                        </td>
                        <td>
                            <div class="role badge bg-danger bg-danger-alt">Administrator</div>
                        </td>
                        <td>23/11/2023</td>
                        <td>09/04/1996</td>
                        <td>
                            <div class="badge bg-success bg-success-alt">actif</div>
                        </td>
                        <td>
                            <div class="badge bg-info bg-info-alt">-</div>
                        </td>
                        <td>
                            <div class="dropdown">
                            <button class="btn btn-sm btn-icon"  type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ ux_icon('fa6-solid:ellipsis', {'data-bs-toggle' : 'tooltip', 'data-placement' : 'top', 'title' : 'Actions'}) }}
                            </button>
                            <ul class="dropdown-menu"  >
                                <li><a class="dropdown-item" href="#">{{ ux_icon('fa6-solid:pencil', {'class': 'me-2'}) }} Edit Profile</a></li>
                                <li><a class="dropdown-item text-warning" href="#">{{ ux_icon('fa6-solid:circle-xmark', {'class': 'me-2'}) }} Desactivate</a></li>
                                <li><a class="dropdown-item text-success" href="#">{{ ux_icon('fa6-solid:circle-check', {'class': 'me-2'}) }} Activate</a></li>
                                <li><a class="dropdown-item text-danger" href="#">{{ ux_icon('fa6-solid:trash-can', {'class': 'me-2'}) }} Remove</a></li>
                            </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
