{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}Listes des utilisateurs{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Liste des utilisateurs</h1>

            <table id="example" class="table table-hover responsive nowrap" style="width:100%">
                <div class="d-flex justify-content-end">
                    <a class="btn btn-success mb-3 new-item" href="{{ path('admin-user-new') }}">{{ ux_icon('fa6-solid:user-pen') }}<span class="ms-2"> Nouveau profil</span></a>
                </div>

                <thead>
                    <tr>
                        <th class="identity">Identité (Prénom Nom)</th>
                        <th>Email</th>
                        <th>Rôle</th>
                        <th>Dernière connexion</th>
                        <th>Créé le</th>
                        <th>Accès</th>
                        <th>Modifié le</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    {% for user in users %}
                        <tr>    
                            <td>
                                <a href="{{ path('admin-user-detail', {'id': user.id}) }}">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar avatar-blue mr-3">{{ user.firstname|first }}{{ user.lastname|first }}</div>
                                        <div class="info">
                                            <p class="fw-bold mb-0">{{ user.firstname }} {{ user.lastname|upper }}</p>
                                        </div>
                                    </div>
                                </a>
                            </td>
                            <td>
                                {{ user.email }}
                            </td>
                            <td>
                                <div class="role badge bg-danger bg-danger-alt">{{ ('role.' ~ user.roles[0])|trans({}, 'admin') }}</div>
                            </td>
                            <td>23/11/2023</td>
                            <td>
                                {{ user.__toCreatedDate|format_datetime('short', 'none', locale: 'fr')}}
                            </td>
                            <td>
                                <div class="badge bg-success bg-success-alt">{% if user.enable %}Actif{% else %}Désactif{% endif %}</div>
                            </td>
                            <td>
                                <div class="badge bg-info bg-info-alt">
                                    {% if user.__toUpdatedDate > user.__toCreatedDate %}{{ user.__toUpdatedDate|format_datetime('short', 'none', locale: 'fr')}}{% else %}-{% endif %}
                                </div>
                            </td>
                            <td>
                                <div class="dropdown">
                                <button class="btn btn-sm btn-icon"  type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    {{ ux_icon('fa6-solid:ellipsis', {'data-bs-toggle' : 'tooltip', 'data-placement' : 'top', 'title' : 'Actions'}) }}
                                </button>
                                <ul class="dropdown-menu"  >
                                    <li><a class="dropdown-item" href="{{ path('admin-user-detail', {'id': user.id}) }}">{{ ux_icon('fa6-solid:pencil', {'class': 'me-2'}) }} Modifier</a></li>
                                    {% if user.enable %}
                                        <li><a class="dropdown-item text-warning" href="#">{{ ux_icon('fa6-solid:circle-xmark', {'class': 'me-2'}) }} Désactiver</a></li>
                                    {% else %}
                                        <li><a class="dropdown-item text-success" href="#">{{ ux_icon('fa6-solid:circle-check', {'class': 'me-2'}) }} Activer</a></li>
                                    {% endif %}
                                    <li><a class="dropdown-item text-danger" href="#">{{ ux_icon('fa6-solid:trash-can', {'class': 'me-2'}) }} Supprimer</a></li>
                                </ul>
                                </div>
                            </td>
                        </tr>

                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
