{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block main %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Register</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.lastname) }}
        {{ form_row(registrationForm.firstname) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}

        {{ form_row(registrationForm.agreeTerms) }}

        <div class="text-center">
            <a href="{{ path('app_login') }}">Déjà inscrit ? Me connecter</a>
            {{ form_row(registrationForm.submit) }}
        </div>
    {{ form_end(registrationForm) }}
{% endblock %}
