<header>
    {# <label for="check" class="menu-btn">
        {{ ux_icon('fa6-regular:chart-bar') }}
    </label>
    <div class="right_area">
        <a href="{{ path("app_logout") }}" class="logout_btn">{{ ux_icon('fa6-solid:arrow-right-from-bracket') }} Déconnexion</a>
    </div>

    <div class="sidebar">
        <div class="close-btn mb-4">
            {{ ux_icon('fa6-solid:xmark') }}
        </div>
        <div class="sidebar-prof">
            {% if (is_granted("ROLE_ADMIN") or is_granted("ROLE_USER")) %}
                <div class="sidebar-user">
                    <h4>{{ app.user.lastname|upper }}<br>{{ app.user.firstname }}</h4>
                </div>
            {% endif %}
        </div>
        <div class="menu">
            <div class="item">
                <a href="{{ path("home") }}" title="Accueil">{{ ux_icon('fa6-solid:house') }}<span>Accueil</span></a>
            </div>

            {% if (is_granted("ROLE_ADMIN")) %}
                <div class="item">
                    <a href="{{ path('admin-list')}}">{{ ux_icon('fa6-solid:toolbox') }}<span>Administration</span></a>
                </div>
            {% endif %}
            <div class="item">
                <a class="sub-btn">{{ ux_icon('fa6-solid:magnifying-glass') }}<span>Items</span>{{ ux_icon('fa6-solid:angle-right', {class: 'dropdown'}) }}</a>
                <div class="sub-menu">
                    <a href="" class="sub-item" title="Item 1">{{ ux_icon('fa6-solid:folder-open') }}<span> Items 1 </span></a>
                    <a href="" class="sub-item" title="Item 2">{{ ux_icon('fa6-solid:folder-open') }}<span> Items 2 </span></a>
                </div>
            </div>
            <div class="item">
                <a href="" title="A propos">{{ ux_icon('fa6-solid:circle-info') }}<span>A propos</span></a>
            </div>
        </div>
    </div> #}
    <nav class="navbar navbar-expand-md bg-body-tertiary">
        <div class="container-xl">
            <a class="navbar-brand" href="#">
                <img src="{{ asset('images/Logo.png')}}" alt="The Gallery">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Accueil</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">The Gallery</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Son histoire</a></li>
                            <li><a class="dropdown-item" href="#">Son engagement</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Les expositions
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Actuellement</a></li>
                            <li><a class="dropdown-item" href="#">A venir</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Passées</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Boutique</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Another Link</a>
                    </li>
                </ul>
                <div class="search-and-icons">
                    <form class="d-flex mb-2 me-2" role="search">
                        <input class="form-control me-2" type="search" aria-label="Search">
                    </form>
                    <div class="user-icons d-flex mb-2">
                        <div class="profile">{{ ux_icon('fa6-solid:user') }}</div>
                        <div class="cart">{{ ux_icon('fa6-solid:cart-shopping') }}</div>
                    </div>
                </div>
                <div class="contact-info d-md-flex">
                    <p>+0987654321 | +1234567890 </p>
                    <p><a href="mailto:">contact@domainname.com</a></p>
                </div>
            </div>
        </div>
    </nav>
</header>